.settings {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  &__category {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-plus,
    &-minus {
      font-size: 20px;
      background-image: linear-gradient(
        to right,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
      );
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: block;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      &:hover {
        cursor: pointer;
        color: #fff;

        background-position: right center;
      }
    }

    &-number {
      font-size: 25px;
      margin: 0 10px;
    }
    &-speed {
      font-size: 20px;
      margin-right: 20px;
      border-radius: 5px;
      padding: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
    &-easy {
      border: 1px solid #56ab2f;
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(
          to right,
          #56ab2f 0%,
          #a8e063 51%,
          #56ab2f 100%
        );
        color: #fff;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
      }
    }
    .easy-active {
      background-image: linear-gradient(
        to right,
        #56ab2f 0%,
        #a8e063 51%,
        #56ab2f 100%
      );
      color: #fff;
    }

    &-normal {
      border: 1px solid #56ccf2;
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(
          to right,
          #56ccf2 0%,
          #2f80ed 51%,
          #56ccf2 100%
        );
        color: #fff;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
      }
    }
    .normal-active {
      background-image: linear-gradient(
        to right,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
      );
      color: #fff;
    }

    &-hard {
      border: 1px solid #cb356b;
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(
          to right,
          #cb356b 0%,
          #bd3f32 51%,
          #cb356b 100%
        );
        color: #fff;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
      }
    }

    .hard-active {
      color: #fff;
      background-image: linear-gradient(
        to right,
        #cb356b 0%,
        #bd3f32 51%,
        #cb356b 100%
      );
    }
    @keyframes shake {
      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }
      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-2px, 0, 0);
      }
      40%,
      60% {
        transform: translate3d(2px, 0, 0);
      }
    }
  }
}
