@font-face {
  font-family: "NotoSansMono Rg";
  src: url("/font/NotoSansMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansMono Sm";
  src: url("/font/NotoSansMono-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansMono B";
  src: url("/font/NotoSansMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
